[Unit]
Description=Aero-Hydra API
After=network.target

[Service]
Type=simple
User=lngo
WorkingDirectory=/home/lngo/projects/aero-hydra/back/OpenSky/src
EnvironmentFile=/home/lngo/projects/aero-hydra/back/OpenSky/api.env
ExecStart=/home/lngo/projects/aero-hydra/.venv/bin/uvicorn API:app --host 0.0.0.0 --port 8010
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
